@media all {
    .pageBreak {
        display: none;
    }
}

@media print and (-moz-windows-compositor) {
    .pageBreak {
        display: block;
        page-break-after: always;
        border: none;
    }
    .mainCntr {
        width: 840px;
        border: none;
        margin: 0;
        padding: 0;
    }
    .hideMe {
        display: none;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    border: 0px solid lime;
}

ol, ul {
    margin: 5px 5px 5px 10px;
    padding: 0;
    text-align: left;
}

li {
    margin: 0 5px 0 15px;
    margin-left: 10px;
}


img {
    border: none;
    border: 0px solid #FFFFFF
}

.mainCntr {
    width: 840px;
    height: 1060px;
    overflow: hidden;
    background-color: #FFFFFF;
    border: 0px solid #000000;
    padding: 10px;
    border: 0px solid red;
}

.headerNote, .mainContent, .midSctCntr, .termsCntr, .footerCntr {
    padding: 5px;
    margin: 3px;
}

.mainContent {
    padding: 0px;
}

.mainContent, .midSctLeft, .midSctRight, .termsCntr {
    border: 1px solid #000000;
    overflow: hidden;
}

.headerNote, .header, .mainContent, .midSctCntr, .termsCntr, .footerCntr {
    clear: both;
}

.mainContent, .midSctCntr, .termsCntr, .footerCntr, .midSctLeft, .midSctRight {
    min-height: 170px
}

.mainContent {
    height: 240px;
    overflow: hidden;
    line-height: 15px;
}

.midSctLeft, .midSctRight {
    height: 180px;
    overflow: hidden;
    line-height: 15px;
    font-size: 12px;
}

.termsCntr {
    padding: 0;
    height: 270px;
    overflow: hidden;
    margin-bottom: 3px;
}

.headerNote, .footerNote {
    text-align: center;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.headerNote {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px
}

.footerNote {
    margin-top: 5px;
}

.header {
    vertical-align: middle;
    padding: 5px 5px 0px 5px;
    margin: 3px 3px 0px 3px;
}

.parkBanner {
    padding: 0px 5px 0px 5px;
    margin: 0px 3px 0px 3px;
}

.headerLeft {
    float: left;
    width: 409px;
    height: 135px;
}

.headerRight {
    float: right;
    text-align: center;
    width: 410px;
}

.headerLeftShifted {
    float: right;
    width: 409px;
    height: 135px;
}

.headerRightShifted {
    float: left;
    text-align: center;
    width: 410px;
    border-right: 1px solid black;
}

.packageField {
    padding: 0px 5px 0px 5px;
    margin: 0px 3px 0px 3px;
    height: 75px;
}

.packageInfo {
    font-weight: bold;
    font-size: 10px;
    float: left;
    max-height: 75px;
    max-width: 670px;
}

.packageInfo h3 {
    padding: 0 0 0 0 0;
    margin: 5px 0 0 0;
}

.packageInfo p {
    padding: 0 0 0 0 0;
    margin: 0 0 0 0;
}

.ticketInfoField {
    padding: 0px 5px 0px 5px;
    margin: 0px 3px 0px 3px;
    height: 70px;
}

.infoSectionField {
    padding: 0px 5px 0px 5px;
    margin: 0px 3px 0px 3px;
    height: 380px;
}

.infoSectionDesc {
    width: 409px;
    height: 180px;
    float: left;
    border-right: 1px solid black;
    overflow: hidden;
}

.infoSectionInst {
    width: 410px;
    height: 180px;
    float: left;
    overflow: hidden;
}

.infoSectionTerms {
    width: 820px;
    height: 197px;
    float: left;
    border-top: 2px solid #cdcdcd;
    overflow: hidden;
}

.infoSectionDesc p {
    font-size: 9px;
    line-height: 12px;
}

.infoSectionInst p {
    font-size: 9px;
    line-height: 12px;
}

.infoSectionTerms p {
    font-size: 8px;
    line-height: 11px;
}

.infoSectionDesc li {
    font-size: 9px;
    line-height: 12px;
}

.infoSectionInst li {
    font-size: 9px;
    line-height: 12px;
}

.infoH1Text {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    margin: 0;
    padding: 5px 5px 0 0px;
}

.infoBar {
    border-top: 3px solid black;
    width: 60px;
    height: 1px;
}

.textInfoBox {
    width: 410px;
    float: left;
    font-size: 10px;
}

.iconLogo {
    float: left;
    overflow: visible;
    margin: 5px 5px 0 0;
    max-width: 145px;
    max-height: 65px;
}

.footerLeft {
    float: left;
    width: 182px;
    height: 216px;
}

.footerRight {
    float: left;
    width: 638px;
    height: 216px;
}

.logoImg {
    max-height: 80px;
}

.midSctLeft {
    float: left;
}

.midSctRight {
    float: right;
    text-align: center;
}

.titleText {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    margin: 0;
    padding: 5px 5px 0 5px;
}

.midSctCntr {
    padding: 0;
    margin-bottom: 3px;
}

.midSctLeft, .midSctRight {
    width: 49.6%;
}

.midSctLeft p, .midSctRight p {
    padding: 5px;
    margin: 0;
}

.termsCntr p {
    font-size: 9px;
    padding: 5px;
    margin: 0;
    line-height: 13px;
    text-align: justify;
}

.adImgsLeftCntrV, .adImgsRightCntrV {
    float: left
}

.footerCntr {
    padding: 0;
}

.footerBarcodeCntr {
    float: right
}

.adImgsLeftCntr img, .adImgsRightCntr img {
    margin: 0 3px
}

.ticketName {
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
}

.detailLabel {
    font-weight: bold;
    font-size: 11px;
}

.detailText {
    font-weight: normal;
    font-size: 11px;
}

.barcodetitle {
    text-align: center;
}

.bottomBarcodeSpacer {
    width: 100%;
    height: 128px;
}

.extrainfo {
    width: 100%;
    height: 57px;
    overflow: hidden;
    padding-top: 5px;
}

.topBarcode {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    margin: 5px;
    margin-left: -20px;
}

.barcode {
    
}

.adImgsLeftCntr img, .adImgsRightCntr img {
    width: 309px;
    height: 101px;
}

.adImgsLeftCntr, .adImgsRightCntr {
    width: 638px;
    height: 108px;
    outline:
}

.classHide {
    visibility: hidden;
    display: none;
    height: 0;
    opacity: 0
}

.titleCntr {
    overflow: hidden;
    clear: both;
    width: 100%;
    background-color: #000000;
}

.titleCntr span {
    float: left;
}

.titleCntr .titleRightEnd {
    float: right;
}

.notForResalessss {
    background: #ffffff;
    color: #000000;
    padding: 5px;
    margin: 5px 3px 5px 3px;
    text-align: center;
}

.notForResale {
    background: #ffffff;
    color: #000000;
    padding: 0;
    margin: 0px 0px 0 0px;
    text-align: center;
}

.waterMark {
    float: left;
    max-width: 145px;
    max-height: 85px;
    overFlow: visible;
    text-align: center;
}

.clearme {
    clear: both;
    width: 0px;
    height: 0px;
}

.yellow {
    outline: 1px yellow solid;
}

.red {
    outline: 1px red solid;
}

.lime {
    outline: 1px lime solid;
}

.orange {
    outline: 1px orange solid;
}

.blue {
    outline: 1px blue solid;
}

.errorMsgs {
    background: #fff url('../assets/images/bg_repeat.png') top left repeat-x;
    color: #444;
    font-family: Tahoma, Geneva, sans-serif;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 50px 0 0 0;
    font-size: 1.2em;
}

@
-moz-document url-prefix () {
    li {margin-left: 20px;
}

.mainCntr {
    height: 1080px;
}
}