$theme-colors: (
  "primary": #FF0000,
  "secondary":  #8A97B3,
  "success": #39FFA0, 
  "light": #FFFFFF,
  "light-2": #EEEEEE,
  "light-3":#CCCCCC,
  "dark": #111111,
  "dark-2": #555555,
  "dark-3":black,
  "info": #FCA17D,
  "danger":#FF3939, 
  "gray": #777777,
  "pink": #F6A2B1
);

$font-family-base: 'Graphik LCG';
$display-font-weight: 700;
$headings-font-weight: 500;
.card {
  background-color: #F6A2B1;
}

.btn:focus {
  box-shadow: none!important;
}

.card-title {
  position: absolute;
width: 152px;
height: 57px;
left: 0px;
top: 0px;

/* H5 */

font-family: 'Druk Cyr';
font-weight: 700;
font-size: 50px;
line-height: 57px;
/* identical to box height */

text-transform: uppercase;
}
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// .card:hover{
//   transform: scale(1.02);
//   box-shadow: 5px 5px 5px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
// }

a { color: black; text-decoration: none; text-align: "center"}

.socials:hover {
  box-shadow: 5px 5px 5px rgba(0,0,0,.12), 5px 5px 5px 5px rgba(0,0,0,.06);
  border-radius: 2rem;
}

.nav.link:hover {
  color: black;
}

.nav-tabs .nav-link.active {
  color: black !important;

  border-bottom: solid 5px black !important;

  
}


.profile {
  background-color: #F6A2B1 !important;
}

.livemint {
  background-color: #BD9DFF !important;
}



.nav.link {
  opacity: 0.6;
}


.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.carousel-control-next-icon {
  margin-top: 100;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.web3modal-modal-lightbox.web3modal-modal-lightbox { z-index: -1; }


.listRight {
  left: auto !important;
  right: 0 !important;
}

.dot-flashing {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -30px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 30px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #9880ff;
  color: #9880ff;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: #9880ff;
  }
  50%,
  100% {
    background-color: #ebe6ff;
  }
}


.snippet {
  position: relative;
  background: #fff;
  padding: 2rem 5%;
  margin: 1.5rem 0;
  border-radius: .25rem;
}

.examples .snippet:before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5px;
  content: attr(data-title);
  font-size: .75rem;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: white;
  background-color: rgb(255, 25, 100);
  border-radius: .25rem 0 .25rem 0;
}

.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
  margin: 0 -5%;
  overflow: hidden;
}





@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Shanti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Lato&family=Montserrat&family=Open+Sans&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;700;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corben&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marmelad&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@font-face {
  font-family: 'Pixeboy';
  src: url("../fonts/Pixeboy.ttf") format("truetype");
}
@font-face {
  font-family: 'Graphik LCG';
  src: url("../fonts/GraphikLCG-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Graphik LCG Regular';
  src: url("../fonts/GraphikLCG-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Druk Cyr';
  src: url("../fonts/DrukCyr-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: 'Druk Web';
    src: url("../fonts/DrukCyr-BoldItalic.ttf") format("truetype");

  }


// @font-face {
//   font-family: 'Graphik Bold';
//   src: url('../fonts/Graphik-Bold-Web.woff2') format('woff2'),
//        url('../fonts/Graphik-Bold-Web.woff') format('woff');
//   font-weight:  700;
//   font-style:   normal;
//   font-stretch: normal;
// }



@font-face {
  font-family: 'Druk Super';
  src: url('../fonts/DrukCond-SuperItalic-Web.woff') format('truetype');
  font-weight:  500;
  font-style:   italic;
  font-stretch: normal;
}




// @font-face {
//   font-family: 'Graphik LCG Regular';
//   src: url('../fonts/Graphik-Regular-Web.woff2') format('woff2'),
//        url('../fonts/Graphik-Regular-Web.woff') format('woff');
//   font-weight:  400;
//   font-style:   normal;
//   font-stretch: normal;
// }

// @font-face {
//   font-family: 'Druk Cyr';
//   src: url('../fonts/DrukCond-SuperItalic-Web.woff2') format('woff2'),
//        url('../fonts/DrukCond-SuperItalic-Web.woff') format('woff');
//   font-weight:  900;
//   font-style:   italic;
//   font-stretch: normal;
// }



// @font-face {
//   font-family: 'Druk Web';
//   src: url('../fonts/Druk-BoldItalic-Web.woff2') format('woff2'),
//        url('../fonts/Druk-BoldItalic-Web.woff') format('woff');
//   font-weight:  700;
//   font-style:   italic;
//   font-stretch: normal;
// }




